spring:
  application:
    name: job-portal-backend

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC

server:
  port: ${PORT}
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never


# JWT configuration
jwt:
  secret: easyjobspot-super-secret-key-very-long-123456789
  expiration: 86400000

# CORS configuration
cors:
  allowed-origins: http://localhost:5500,https://easy-job-spot.vercel.app
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allow-credentials: true

logging:
  level:
    com.jobportal: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    com.easyjobspot.backend.security: INFO
